* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  border: 5px solid black;
}
h1 {
  background-color: #f7f7f7;
  margin: auto;
  text-align: center;
}
.price {
  font-weight: bold;
}
.shipping {
  text-transform: uppercase;
  color: gray;
  font-size: 15px;
  align-items: center;
}
.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  font-size: 22px;
}
.subcontainer1 {
  border: 5px solid black;
}
.more-info-link {
  color: black;
}
.more-info-link:hover {
  text-decoration: none;
}
.container-1 {
  display: flex;
}
.colors {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.color-black {
  background-color: black;
  height: 25px;
  width: 25px;
}
.color-blue {
  background-color: blue;
  height: 25px;
  width: 25px;
}
.color-red {
  background-color: red;
  height: 25px;
  width: 25px;
}
.color-yellow {
  background-color: yellow;
  height: 25px;
  width: 25px;
}
.color-green {
  background-color: green;
  height: 25px;
  width: 25px;
}
.color-brown {
  background-color: brown;
  height: 25px;
  width: 25px;
}
